.post-layer{
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    background-color: #f5f4f3;
    height: 300px;
    width: 100%;
    float: left;
    margin: 74px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 80px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.post2{
    background-color: white;
    height: 270px;
    width: 200px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    float: left;
    display: block;
    cursor: pointer;
    
}
.postimg{
    height: 111px;
    display: block;
    padding-top: 20px;
    align-content: center;
    max-height: 165px;
    max-width: 61px;
    text-align: center;
    align-content: center;
    margin: auto;
    width: 86px;
  
}
.postimgclass{
    width: 206px;
    margin: auto;
    align-items: center;
    text-align: center;
    align-content: center;
}
.category {
    padding: 20px;
    text-align: center;
    font-weight: 600;
   
}
.price{
        text-align: center;
        font-weight: 600;
        color: #87e687;
    }
    
.content
{font-size: 14px;
    text-align: center;
    padding-top: 20px;
    color: #0000007a;
    
}